{% extends "budzet.html"%}
{%block title%}
lista wydatkow
{% endblock %}
{% block header %}
Witaj {{request.user.username}} ! 
{% endblock %}
{% block content %}

    
    <h3>Lista wszystkich zarejstrowanych wpisow</h3>  
   
    <table border="2">
<tr>
<td>ID</td>
<td>DATA</td>
<td>TYP WYDATKU</td>
<td>KOMENTARZ</td>
<td>CENA</td>
<td>AUTOR</td>
</tr>
    {% for post in posts %}
		<tr>
	    <td>{{ post.id}}</td>
		<td>{{ post.data_utworzenia }}</td>
		<td>{{ post.typ}}</td>
        <td>{{ post.komentarz }} </td>
        <td>{{ post.cena}}</td>
        <td>{{ post.autor }}</td>
        <td>{{ post.okres}}</td>

        </tr>
{% endfor %}

    </table>
    
{% endblock %}
    

