    Witaj {{request.user.username}} ! <a href="/new">Nowy wydatek</a> <a href="/actual_list">Lista wydatkow z aktualnego miesiaca</a> <a href="/list">Lista WSZYSTKICH wydatkow</a> <a href="/logout/">logout</a>
    <h3>Lista wydatkow</h3>
{{ dane.Spozywka}}
{{ dane.Leki}}
{{ dane.Ubrania}}
{{ dane.Samochod}}
{{ dane.Zabawki}}
{{ dane.Rozrywka}}
{{ dane.Oszczednosci}}
{{ dane.Inne}}


    <table border="2">
<tr>
<td>ID</td>
<td>DATA</td>
<td>TYP WYDATKU</td>
<td>KOMENTARZ</td>
<td>CENA</td>
<td>AUTOR</td>
</tr>
    {% for post in posts %}
		<tr>
	    <td>{{ post.id}}</td>
		<td>{{ post.data_utworzenia }}</td>
		<td>{{ post.typ}}</td>
        <td>{{ post.komentarz }} </td>
        <td>{{ post.cena}}</td>
        <td>{{ post.autor }}</td>
        <td>{{ post.okres}}</td>

        </tr>
{% endfor %}

    </table>

